*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-header: 'Staatliches', sans-serif;
  --ff-secondary: 'Palanquin', sans-serif;
}

header{
  background: hsla(218, 17%, 62%, 1);
  font-family: var(--ff-header);
  letter-spacing: 0.05em;
  font-size: 2.5rem;
  font-weight: 400;
  color: #FFFFFF;
  min-height: 25rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

header h1 {
  z-index: -1;
  background: #CBC0D3;
}

main p {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 6.3rem;
  color: hsla(274, 84%, 12%, 1);
}

.card img{
  width: 32rem;
}

.card h2 {
  position: absolute;
  display: flex;
  margin: 1.6rem;
  width: fit-content;
}

.card h2 span {
  width: 11.2rem;
  background: #FEEAFA;
  font-family: var(--ff-header);
  font-size: 2rem;
  letter-spacing: 0.05em;
  border-radius: 2rem;
  color: hsla(232, 17%, 35%, 1);
  text-align: center;
}